@import "styles/variables.scss";

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $field-height-md;
  min-width: 100px;
  width: 100%;
  color: white;
  font-weight: $font-bold;
  font-size: $text-md;
  line-height: $leading-6;
  border-radius: $bdr-12;
  padding: $p-md;
  gap: 6px;
  outline: 0;
  border: 0;
  &[type="submit"],
  &[type="button"] {
    background-color: $primary-500;
  }

  &:hover {
    box-shadow: $box-shadow;
  }

  .container {
    height: $input-height;
    //width: 100%;
    min-width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}

.small {
  height: fit-content;
  font-size: $text-sm;
  padding: $p-sm;
}

.large {
  height: fit-content;
  min-width: 130px;
  font-size: $text-lg;
  padding: $p-lg;
}

.outlined {
  color: $primary-500;
  border: 1px solid $primary-500;

  &[type="submit"],
  &[type="button"] {
    background-color: white;
  }
}

.secondary {
  color: $primary-500;
  border: 1px solid $primary-500;

  &[type="submit"],
  &[type="button"] {
    background-color: white;
  }
}

.disabled {
  opacity: 0.35;

  &[type="submit"],
  &[type="button"] {
    background-color: $primary-500;
  }

  &:hover {
    box-shadow: none;
  }
}

.loading {
  cursor: wait;
  opacity: 0.5;
}

.no_outlined {
  color: $primary-500;
  border: none;

  &[type="submit"],
  &[type="button"] {
    background-color: white;
  }
}

.secondary_no_outlined {
  color: $primary-500;
  border: none;
  font-weight: $font-light;

  &[type="submit"],
  &[type="button"] {
    background-color: white;
  }
}

.underlined {
  color: $primary-500;
  border: none;

  &[type="submit"],
  &[type="button"] {
    background-color: white;
  }
  text-decoration: underline;
  &:hover {
    box-shadow: none;
  }
}
